* {
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}
/* For logo */
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/* For box 2 delivery address */
.nav-add-first {
  font-size: 0.85rem;
  color: #cccccc;
  margin-left: 20px;
}
.nav-add-second {
  font-size: 1rem;
}
.nav-address {
  padding: 9px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/* for box 3 search */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(227, 168, 5); */
  width: 620px;
  height: 40px;
  /* border-radius: 4px; */
}
.nav-dropdown {
  background-color: #f3f3f3;
  padding: 5px;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  color: #0f1111;
}
.nav-dropdown:hover {
  background-color: #d3d3d3;
  color: #000000;
}
.nav-searchinput {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
