* {
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* For box 1 logo */
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/* For box 2 delivery address */
.nav-add-first {
  font-size: 0.85rem;
  color: #cccccc;
  margin-left: 20px;
}
.nav-add-second {
  font-size: 1rem;
}
.nav-address {
  padding: 8px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/* for box 3 search */
.nav-search {
  display: flex;
  justify-content: space-evenly;

  width: 620px;
  height: 40px;
}
.nav-search:hover {
  border: 2px solid #febd68;
  border-radius: 5px;
}
.nav-searchinput:focus {
  outline: none;
}
.nav-dropdown {
  background-color: #f3f3f3;
  padding: 5px;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  color: #0f1111;
}
.nav-dropdown:hover {
  background-color: #d3d3d3;
  color: #000000;
}
.nav-searchinput {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.search-icon:hover {
  background-color: #f1a33c;
}
/* For box 4  and box 5*/
.nav-signin,
.nav-return {
  padding: 8px;
}
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.95rem;
  font-weight: 700;
}
/* For last box cart */
.nav-cart {
  padding: 8px;
}
.nav-cart i {
  color: white;
  font-size: 30px;
}
.nav-cart p {
  font-size: 0.95rem;
  font-weight: 700;
}
/* for a panel */
.panel {
  background-color: #232f3e;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.panel-all {
  color: white;
  padding: 9px;
}
.panel-opp {
  display: flex;
  gap: 10px;
}
.panel-opp p {
  color: white;
  padding: 9px;
}
/* hero section */
.hero-section {
  background-image: url("hero_image.jpg");
  height: 350px;
  background-size: cover;
}
/* Shop section */
.shop-container{
  display: flex;
  /* gap: 20px; */
  justify-content: space-evenly;
  background-color: #e3e6e6;
}
.box{
  border: 2px solid transparent;
  height: 500px;
  width: 23%;
  background-color: white;
  
  padding: 20px 0 15px;
  
}
/* inside a box */
.box-content{
  
  margin-left:15px ;
  margin-right: 15px;
  
  
}
.box-content h2{
  margin-bottom: 10px;
}
.box-content p{
  margin-top: 10px;
  color: #0b3970;
  font-size: 0.95rem;
}
.box-img1{
  background-image: url("box1_image.jpg");
  height: 400px;
  background-size: cover;
  /* padding: 10px; */

  

}
.box-content h2{
  margin-bottom: 0.8rem;
  font-weight: 700;
  
}
.box-img2{
  background-image: url("box5_image.jpg");
  height: 400px;
  background-size: cover;
}
.box-img3{
  background-image: url("box3_image.jpg");
  height: 400px;
  background-size: cover;
}
.box-img4{
  background-image: url("box4_image.jpg");
  height: 400px;
  background-size: cover;
}